.filterSectionWrapper {
     margin: 5px 0;
    
  h4 {
    text-align: center;
    font-weight: normal;
    margin: 0 18%;
    padding: 5px;
    color: #0a0a0a;
    font-size: 14px;
    border-bottom: solid 1px grey;
  }

  .check{
    background-color:blue;
  }
}
