<main class="homeWrapper">
    <header>
        <h1>SpaceX Launch Programs</h1>
    </header>
    <div class="mainLayout">
        <div class="filters col-m-12 col-s-4 col-2 inline-display">
            <app-filter></app-filter>
        </div>
        <div class="row col-s-8 col-10 inline-display">
            <div class="col-m-12 col-s-6 col-3 inline-display tile">
                <app-spacex-detail></app-spacex-detail>
            </div>
            <div class="col-m-12 col-s-6 col-3 inline-display tile">
                <app-spacex-detail></app-spacex-detail>
            </div>
            <div class="col-m-12 col-s-6 col-3 inline-display tile">
                <app-spacex-detail></app-spacex-detail>
            </div>
            <div class="col-m-12 col-s-6 col-3 inline-display tile">
                <app-spacex-detail></app-spacex-detail>
            </div>
            <div class="col-m-12 col-s-6 col-3 inline-display tile">
                <app-spacex-detail></app-spacex-detail>
            </div>
            <div class="col-m-12 col-s-6 col-3 inline-display tile">
                <app-spacex-detail></app-spacex-detail>
            </div>
            <div class="col-m-12 col-s-6 col-3 inline-display tile">
                <app-spacex-detail></app-spacex-detail>
            </div>
            <div class="col-m-12 col-s-6 col-3 inline-display tile">
                <app-spacex-detail></app-spacex-detail>
            </div>



        </div>
    </div>
    <footer>
        <h6>Developed By : Sukhdeep Singh</h6>
    </footer>
</main>