main {
  padding: 20px;

  header {
    margin: 10px 0;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .filters {
    background-color: white;
    padding-bottom: 40px;
  }

  .mainLayout {
    width: 100%;

    .row {
      padding-left: 10px;
    }
  }
}

.inline-display {
  display: inline-block;
}

.tile {
  padding: 0 0 15px 15px;
}
