<main class="homeWrapper">
    <header>
        <h1>SpaceX Launch Programs</h1>
    </header>
    <div class="mainLayout">
        <div class="filters col-m-12 col-s-4 col-2">
            <app-filter (filterChanged)="handleFiltersChanged($event)"></app-filter>
        </div>
        <div class="row col-m-12 col-s-8 col-10">
            <div *ngIf="!loader &&  launches?.length">
                <app-spacex-detail [launch]="launch" *ngFor="let launch of launches"
                    class="col-m-12 col-s-6 col-3 tile">
                </app-spacex-detail>
            </div>
            <div class="centerAligned" *ngIf="!loader && !launches?.length">
                <p>No launches found</p>
            </div>
            <div class="centerAligned" *ngIf="loader">
                <p>Loading....</p>
            </div>

        </div>
    </div>
    <footer>
        <h6>Developed By : Sukhdeep Singh</h6>
    </footer>
</main>