main {
  min-height: 100vh;
  padding: 20px 20px 0 20px;

  header {
    margin: 10px 0;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .filters {
    background-color: white;
    padding-bottom: 40px;
  }

  .mainLayout {
    width: 100%;
    min-height: 83vh;


    .row {
      padding-left: 10px;
    }
  }
}


.tile {
  display: inline-block;
  padding: 0 0 15px 15px;
}

.centerAligned {
  display: flex;
  justify-content: center;
}

footer {
  display: inline-block;
  width: 100%;
  margin: 15px 0;

  h6 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 2rem;
  }
}


@media only screen and (max-width: 700px) {

  /* For mobile: */

  main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      max-width: 400px;
      width: 100%;
    }

    .mainLayout {

      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 400px;


      .row {
        margin: 20px 0px 10px 0;
        padding-left: 0;
      }
    }
  }


  .tile {
    padding: 0;
    margin-bottom: 20px;
  }

}


