main {
  padding: 20px;
  

  header {
    margin: 10px 0;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .filterText{
    margin-left:5px;
  }

  .filters {
    background-color: white;
    padding-bottom: 40px;
    border-radius:10px;
    margin-top:20px;
    margin-left:20px
  }

  .mainLayout {
    width: 100%;

    .row {
      // padding-left: 10px;
      margin-left:10px
    }
  }
}

.inline-display {
   display: inline-block;
  
}

.tile {
  //  padding: 0 0 15px 25px;
  padding-bottom:15px;
   padding-left:15px;
}
