.spaceXCard {
  background-color: white;
  padding: 25px;
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  img {
    aspect-ratio: attr(width) / attr(height);
    background-color: #F2F2F2;
    max-width: 100%;
    width: 100%;
    height: 224px;
    min-width: 150px;
    min-height: 150px;
    align-self: center;
  }

  .cardHeading {
    font-size: 18px;
    font-weight: bold;
  }

  .heading1 {
    line-height: 3rem;
    color: #4b5dbb;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .heading2 {
    line-height: 3rem;
  }

  .detail {
    line-height: 2rem;

    ul {
      list-style: disc;
      margin-left: 30px;
    }

    .propertyName {
      font-weight: bold;
    }
  }
}


@media only screen and (max-width: 700px) {


  .spaceXCard {

    img {
      background-color: #F2F2F2;
      max-width: 100%;
      // width: 100%;
      // height: 200px;
      max-height: 220px;
      min-width: 100px;
      min-height: 100px;
    }
  

  }

}
