.spaceXCard {
  background-color: white;
  padding: 25px;
  border-radius:8px;
  margin-top: 20px;
  
  

  img {
    background-color: #F2F2F2;
  width:100%;
   
    margin-top:4px;
  }

  .cardHeading {
    font-size: 18px;
    font-weight: bold;
    margin-left:10px
  }

  .heading1 {
    line-height: 3rem;
    color: #4b5dbb;
  }

  .heading2 {
    line-height: 3rem;
  }

  .detail {
    line-height: 2rem;
    margin-left:10px;

    ul {
      list-style: disc;
      margin-left: 30px;
    }

    .propertyName {
      font-weight: bold;
    }
  }
}
