<div class="cardWrapper">
    <div class="spaceXCard">
        <div class="imageWrapper">
            <img loading="lazy" width="224" height="224" [alt]="launch?.missionFlightName" [src]="launch?.links?.mission_patch_small" />
        </div>
        <h6 class="cardHeading heading1" [title]="">{{launch?.missionFlightName}}</h6>
        <div class="detail">
            <span class="propertyName">Mission ids:</span>
            <ul>
                <li *ngFor="let id of launch?.mission_id"> {{id}} </li>
            </ul>
        </div>
        <div class="detail">
            <span class="propertyName">Launch Year: </span> <span class="propertyValue">{{launch?.launch_year}}</span>
        </div>
        <div class="detail">
            <span class="propertyName">Successful Launch: </span><span class="propertyValue">{{launch?.launch_success}}</span>
        </div>
        <div class="detail">
            <span class="propertyName">Successful Landing: </span><span class="propertyValue"> - </span>
        </div>
    </div>
</div>