input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  transition: all 200ms ease;
  font-size: 14px;

  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #c5e09b;
  padding: 0.5rem 1rem;
  display: inline-block;
  user-select: none;
}



input[type="checkbox"]:checked+label {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  background-color: #7CBA1D;
//   border-color: #ffffff;
}
