.filterListWrapper {
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;

  li {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }
}
